h2 {
    margin-top: 50px;
}

.workout-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff7535;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-container button:disabled {
    background-color: #CCCCCC;
    cursor: default;
}

.pagination-container button:not(:disabled):hover {
    background-color: #c4511b;
}
