.edit-workout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 80%;
    overflow-y: auto;
}

.workouts-list>.workout {
    display: flex;
    flex-direction: column;
}

.workout-name-container,
.workout-type-container,
.workout-input,
.weight-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.weight-input {
    margin-bottom: 1rem;
}

.workouts-list {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
}

.workouts-list>.workout {
    gap: 0;
}

.input-group {
    margin: 0;
}

.workout-actions {
    display: flex;
    justify-content: space-between;
}

.workout-actions button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.workout-actions button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.workout-actions button[type="submit"]:hover {
    background-color: #3a883d;
}

.workout-actions button[type="button"] {
    background-color: #f44336;
    color: white;
}

.workout-actions button[type="button"]:hover {
    background-color: #c2342a;
}

.workout-heading {
    display: flex;
    justify-content: center;
}

.add-workout-button-container {
    display: flex;
    justify-content: center;
}

.add-workout-button-container button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.add-workout-button-container button:hover {
    background-color: #3a883d;
}

.add-workout-error-message {
    color: red;
    font-size: 14px;
}
